html,
body {
  background: #232526;
  background: -webkit-linear-gradient(to right bottom, #414345, #232526);
  background: linear-gradient(to right bottom, #414345, #232526);
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch {
  &-canvas {
    position: relative;
    background: #111111;
    background: radial-gradient(ellipse farthest-corner at left top, #cccccc 0%, #666666 8%, #444444 30%, #666666 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at right bottom, #FFFFFF 0%, #ffffff 8%, #cccccc 25%, #222222 62.5%, #5d4a1f 100%);
    width: 630px;
    height: 630px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(.8)
    
  }
}

.bezel {
  position: relative;
  box-sizing: content-box;
  background: #111111;
    background: radial-gradient(ellipse farthest-corner at left top, #cccccc 0%, #333333 8%, #222222 30%, #333333 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at right bottom, #444444 0%, #333333 8%, #444444 25%, #222222 62.5%, #5d4a1f 100%);
  width: 628px;
  height: 628px;
  border-radius: 50%;
  

  &-edge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    background: #111111;
    background: radial-gradient(ellipse farthest-corner at right bottom, #cccccc 0%, #111111 8%, #000000 30%, #111111 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #ffffff 8%, #cccccc 25%, #222222 62.5%, #5d4a1f 100%);
    width: 618px;
    height: 618px;
    border-radius: 50%;
  }

  &-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    background: #111111;
    background: radial-gradient(ellipse farthest-corner at left top, #cccccc 0%, #666666 8%, #444444 30%, #666666 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at right bottom, #FFFFFF 0%, #ffffff 8%, #cccccc 25%, #222222 62.5%, #5d4a1f 100%);
    width: 540px;
    height: 540px;
    border-radius: 50%;

    &-edge {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: content-box;
      background: black;
      background-size: cover;
      width: 534px;
      height: 534px;
      border-radius: 50%;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: content-box;
        background: url('bg-texture.jpg');
        background-size: cover;
        width: 534px;
        height: 534px;
        border-radius: 50%;
        opacity: .2;
      }
    }
  }
}

.face {
  &-seconds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &-miliseconds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tag-logo {
    position: absolute;
    right: 170px;
    top: 200px;
    width: 50px;
    filter: saturate(0);
    opacity: .7;
    z-index: 1;

    &-model {
      position: absolute;
      right: 132px;
      top: 233px;
      color: #cccccc;
      font-size: 1.4rem;
      letter-spacing: .2rem;
      z-index: 1;
    }
  }
  
  .number {
    position: absolute;
    font-family: 'Exo', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    background: rgba(247,247,247,1);
    background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(204,204,204,1) 50%, rgba(170,170,170,1) 51%, rgba(51,51,51,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(50%, rgba(204,204,204,1)), color-stop(51%, rgba(170,170,170,1)), color-stop(100%, rgba(51,51,51,1)));
    background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(204,204,204,1) 50%, rgba(170,170,170,1) 51%, rgba(51,51,51,1) 100%);
    background: -o-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(204,204,204,1) 50%, rgba(170,170,170,1) 51%, rgba(51,51,51,1) 100%);
    background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(204,204,204,1) 50%, rgba(170,170,170,1) 51%, rgba(51,51,51,1) 100%);
    background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(204,204,204,1) 50%, rgba(170,170,170,1) 51%, rgba(51,51,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#333333', GradientType=0 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &-five {
      top: 50px;
      right: 180px; 
    }
    
    &-ten {
      top: 130px;
      right: 105px; 
    }
    
    &-fifteen {
      top: 234px;
      right: 75px; 
    }
    
    &-twenty {
      bottom: 130px;
      right: 105px; 
    }
    
    &-twenty-five {
      bottom: 50px;
      right: 180px; 
    }
    
    &-thirty {
      bottom: 15px;
      left: 50%;
      transform: translate(-50%); 
    }
    
    &-thirty-five {
      bottom: 50px;
      left: 180px; 
    }

    &-forty {
      bottom: 130px;
      left: 105px; 
    }

    &-forty-five {
      top: 234px;
      left: 75px; 
    }

    &-fifty {
      top: 130px;
      left: 105px; 
    }

    &-fifty-five {
      top: 50px;
      left: 180px; 
    }

    &-sixty {
      top: 10px;
      left: 50%;
      transform: translate(-50%);
      font-size: 3.5rem;
    }
  }
}

.calendar {
  position: absolute;
  right: 130px;
  width: 130px;
  height: 64px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  

  &-day {
    box-sizing: border-box;
    width: 75px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid darken(silver, 10%);
    border-right-width: 4px;
  }

  &-date {
    box-sizing: border-box;
    width: 55px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid darken(silver, 10%);
    border-left-width: 4px;
  }
}

.hands {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  

  &-center {
    position: absolute;
    box-sizing: content-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    border: 5px solid silver;
    z-index: 8;

    &-dot {
      position: absolute;
      box-sizing: content-box;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: white;
      border: 2px solid darken(grey, 20%);
      z-index: 9;
    }
  }

  &-second {
    box-sizing: content-box;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 244px;
    background-color: silver;
    border-radius: 4px;

    &:after {
      content: '';
      width: 4px;
      height: 70px;
      background-color: red;
      border-radius: 2px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &-bottom {
      box-sizing: content-box;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 84px solid silver;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      width: 5px;
    }

    &-wrapper {
      position: absolute;
      background-color: transparent;
      height: 490px;
      width: 490px;
      border-radius: 50%;
      z-index: 7;
    }
  }

  &-minute {
    box-sizing: content-box;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 234px;
    background-color: silver;

    &:after {
      content: "";
      position: absolute;
      top: -4px;
      width: 0; 
      height: 0; 
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid silver;
    }

    &-wrapper {
      position: absolute;
      background-color: transparent;
      height: 490px;
      width: 490px;
      border-radius: 50%;
    }
  }
  
  &-hour {
    box-sizing: content-box;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 150px;
    background-color: silver;

    &:after {
      content: "";
      position: absolute;
      top: -6px;
      width: 0; 
      height: 0; 
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid silver;
    }

    &-wrapper {
      position: absolute;
      background-color: transparent;
      height: 490px;
      width: 490px;
      border-radius: 50%;
    }
  }
}
