html,
body {
  background-color: slategrey;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch {
  &-canvas {
    position: relative;
    background: #111111;
    background: radial-gradient(ellipse farthest-corner at left top, #cccccc 0%, #666666 8%, #444444 30%, #666666 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at right bottom, #FFFFFF 0%, #ffffff 8%, #cccccc 25%, #222222 62.5%, #5d4a1f 100%);
    width: 630px;
    height: 630px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(.8)
    
  }
}

.bezel {
  position: relative;
  box-sizing: content-box;
  background: #111111;
    background: radial-gradient(ellipse farthest-corner at left top, #cccccc 0%, #333333 8%, #222222 30%, #333333 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at right bottom, #444444 0%, #333333 8%, #444444 25%, #222222 62.5%, #5d4a1f 100%);
  width: 628px;
  height: 628px;
  border-radius: 50%;
  

  &-edge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    background: #111111;
    background: radial-gradient(ellipse farthest-corner at right bottom, #cccccc 0%, #111111 8%, #000000 30%, #111111 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #ffffff 8%, #cccccc 25%, #222222 62.5%, #5d4a1f 100%);
    width: 618px;
    height: 618px;
    border-radius: 50%;
  }

  &-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    background: #111111;
    background: radial-gradient(ellipse farthest-corner at left top, #cccccc 0%, #666666 8%, #444444 30%, #666666 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at right bottom, #FFFFFF 0%, #ffffff 8%, #cccccc 25%, #222222 62.5%, #5d4a1f 100%);
    width: 540px;
    height: 540px;
    border-radius: 50%;

    &-edge {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: content-box;
      background: black;
      background-size: cover;
      width: 534px;
      height: 534px;
      border-radius: 50%;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: content-box;
        background: url('bg-texture.jpg');
        background-size: cover;
        width: 534px;
        height: 534px;
        border-radius: 50%;
        opacity: .2;
      }
    }
  }
}

.face {
  &-seconds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &-miliseconds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tag-logo {
    position: absolute;
    right: 170px;
    top: 200px;
    width: 50px;
    filter: saturate(0);
    opacity: .7;
    z-index: 1;
  }
}

.calendar {
  position: absolute;
  right: 130px;
  width: 130px;
  height: 64px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  

  &-day {
    box-sizing: border-box;
    width: 75px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid darken(silver, 10%);
    border-right-width: 4px;
  }

  &-date {
    box-sizing: border-box;
    width: 55px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid darken(silver, 10%);
    border-left-width: 4px;
  }
}

.hands {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  

  &-center {
    position: absolute;
    box-sizing: content-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    border: 5px solid silver;
    z-index: 8;

    &-dot {
      position: absolute;
      box-sizing: content-box;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: white;
      border: 2px solid darken(grey, 20%);
      z-index: 9;
    }
  }

  &-second {
    box-sizing: content-box;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 244px;
    background-color: silver;
    border-radius: 4px;

    &:after {
      content: '';
      width: 4px;
      height: 70px;
      background-color: red;
      border-radius: 2px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &-bottom {
      box-sizing: content-box;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 84px solid silver;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      width: 5px;
    }

    &-wrapper {
      position: absolute;
      background-color: transparent;
      height: 490px;
      width: 490px;
      border-radius: 50%;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      z-index: 7;
    }
  }

  &-minute {
    box-sizing: content-box;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 234px;
    background-color: darken(silver, 30%);

    &:after {
      content: "";
      position: absolute;
      top: -4px;
      width: 0; 
      height: 0; 
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid darken(silver, 30%);
    }

    &-wrapper {
      position: absolute;
      background-color: transparent;
      height: 490px;
      width: 490px;
      border-radius: 50%;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}
